<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Varda</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="navbarColor01">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="#">News<span class="sr-only">(current)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">Popular</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="#">All</a>
			</li>  
			<li class="nav-item">
			  <a class="nav-link" href="#">Messages</a>
			</li>
    </ul>
    
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="text" placeholder="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
      <p>&nbsp;</p>
    </form>
    
		  <form class="form-inline my-2 my-lg-0">
			
			  <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
				<button type="button" class="btn btn-primary">Menu</button>
				<button [matMenuTriggerFor]="menu" id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
				<mat-menu #menu="matMenu">
					<button mat-menu-item>
						<mat-icon>settings</mat-icon>
						My profile
					</button>
					<button mat-menu-item (click)="logout()">
						<mat-icon>exit_to_app</mat-icon>
						Log Out
					</button>
				</mat-menu>			
			</div>

		</form>
	</div>
</nav>
	
	