<toolbar></toolbar>


<div fxLayout="row" style="margin: 50px"> 
        <div fxFlex="20" class="jumbotron">
                <h2>You are loggin</h2>
                
        </div>
        
        <div fxFlex="60" class="jumbotron" style="margin-left: 20px; margin-right: 20px">
                <h2>Example body text</h2>

                <button class="btn btn-secondary my-2 my-sm-0" type="submit" (click)="send()">SocketIO</button>

                <p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
                <p><small>This line of text is meant to be treated as fine print.</small></p>
                <p>The following is <strong>rendered as bold text</strong>.</p>
                <p>The following is <em>rendered as italicized text</em>.</p>
                <p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>

                <blockquote class="blockquote text-center">
                                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>

                <h2>Emphasis classes</h2>
                <p class="text-muted">Fusce dapibus, tellus ac cursus commodo, tortor mauris nibh.</p>
                <p class="text-primary">Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                <p class="text-secondary">Pellentesque ornare sem lacinia quam venenatis vestibulum.</p>
                <p class="text-warning">Etiam porta sem malesuada magna mollis euismod.</p>
                <p class="text-danger">Donec ullamcorper nulla non metus auctor fringilla.</p>
                <p class="text-success">Duis mollis, est non commodo luctus, nisi erat porttitor ligula.</p>
                <p class="text-info">Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
        
        <div fxFlex>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">News</div>
                        <div class="card-body">
                                <h4 class="card-title">Primary card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">News</div>
                        <div class="card-body">
                                <h4 class="card-title">Primary card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
        </div>
</div>