<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Varda</a>
		
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			</li>
			</ul>
			<form class="form-inline my-2 my-lg-0">
			
			</form>
		</div>
</nav>

<div>

</div>

<div fxLayout="column" fxLayoutAlign="center center"> 

<div class="card border-secondary mb-3" style="max-width: 20rem;">
		<div class="card-header">Become a member</div>
		<div class="card-body">
			
			<form> 
				<div fxLayout="column" fxLayoutAlign="center center" style="padding: 2%">
					<fieldset>
			
						<div class="form-group">
							<label>Email address</label>
							<input [(ngModel)]="email" type="email" [ngClass]="emailClass(email)" placeholder="Enter email" name="email" required>
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						
						<div class="form-group">
							<label>Username</label>
							<input [(ngModel)]="username" type="text" class="form-control"  placeholder="Username" name="username" required>
						</div>
						
						<div class="form-group">
							<label>Password</label>
							<input [(ngModel)]="username" type="password" class="form-control"  placeholder="Password" name="password" required>
						</div>
			
						<div class="form-group">
							<label>Confirm Password</label>
							<input [(ngModel)]="confirmPassword" type="password" class="form-control"  placeholder="Confirm password" name="confirmPassword" required>
						</div>
						
						<div class="form-group">
							<mat-checkbox color="primary">Receive spam</mat-checkbox>
						</div>
			
						<div class="form-group" fxLayout="row" fxLayoutAlign="space-around center">
							<button mat-stroked-button color="primary" (click)="click()">SIGN UP</button>
							<button type="button" class="btn btn-primary" routerLink="/">BACK</button>
						</div>
					</fieldset>
				</div>
			</form>

	</div>
</div>

</div>
