
<mat-toolbar fxLayout="row" fxLayoutAlign="end center">
	<form>
		<div fxLayout="row" fxLayoutAlign="end center">	
		<div>
			<mat-form-field>
				<input matInput placeholder="Usuario" name="username" [(ngModel)]="username"/>
			</mat-form-field>
		</div>
		<div>
			<mat-form-field>
				<input matInput placeholder="Contraseña" name="password" [(ngModel)]="password"/>
			</mat-form-field>
		</div>
		<div>
			<button mat-stroked-button (click)="clicked()">Entrar</button>
			<button mat-flat-button color="primary" routerLink="/register">Registrarse</button>
		</div>
	</div>
</form>
</mat-toolbar>
