<toolbar></toolbar>


<div fxLayout="row" style="margin: 50px"> 
        <div fxFlex="20" class="jumbotron">
                <h2>You are loggin</h2>
                
        </div>
        
        <div fxFlex="60" class="jumbotron" style="margin-left: 20px; margin-right: 20px">
                <h2>You are loggin</h2>
        </div>
        
        <div fxFlex>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">News</div>
                        <div class="card-body">
                                <h4 class="card-title">Primary card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
                <div class="card border-primary mb-3" style="max-width: 20rem;">
                        <div class="card-header">News</div>
                        <div class="card-body">
                                <h4 class="card-title">Primary card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                </div>
        </div>
</div>